<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=, initial-scale=1.0"/>
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"/>
</head>

<body class="bg-dark text-white">
<ul class="nav nav-tabs bg-dark justify-content-between">
    <div class="">
        <li class="d-inline-block nav-item">
            <a class="nav-link text-white " th:href="@{/}">Home</a>
        </li>
        <li class="d-inline-block nav-item">
            <a class="nav-link text-white " th:href="@{/goal}">Goals</a>
        </li>
        <li class="d-inline-block nav-item">
            <a class="nav-link text-white" th:href="@{/routine}">Routines</a>
        </li>
        <li class="d-inline-block nav-item">
            <a class="nav-link text-white" th:href="@{/achievement}">Achievements</a>
        </li>
    </div>
    <div>
        <form th:action="@{/logout}"
              method="post">
            <button type="submit" class="nav-link text-white">Logout</button>
        </form>
    </div>
</ul>
<div class="container text-center p-5">
    <h1>Edit Achievement</h1>
</div>
<div class="container w-50 p-5 ">
    <form
            th:action="@{/achievement/detailEdit}"
            th:object="${achievementCreate}"
            th:method="post"
    >
        <div>
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" th:field="${achievementCreate.name}"/>
            <div class="alert alert-danger " role="alert"
                 th:if="${#fields.hasErrors('name')}"
                 th:errors="*{name}">
                A simple danger alert—check it out!
            </div>
        </div>

        <div class="mb-3">
            <label for="descriptionHowItWasSucceeded" class="form-label">DescriptionOfTheVictory</label>
            <input type="text" class="form-control" id="descriptionHowItWasSucceeded"
                   th:field="${achievementCreate.descriptionHowItWasSucceeded}"/>
        </div>


        <div class="mb-3">
            <label for="route">Route</label>
            <select th:field="${achievementCreate.routineId}"
                    id="route" class="form-select">
                <option value="0" selected>None</option>
                <option th:each="routineEntity : ${allRoutines}"
                        th:value="${routineEntity.id}"
                        th:text="${routineEntity.name}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="diff">Difficulty</label>
            <select th:field="${achievementCreate.difficulty}"
                    id="diff" class="form-select">
                <option th:each="diff : ${T(com.example.achievementboard.domain.constants.enums.Difficulty).values()}"
                        th:text="${diff}" th:value="${diff}"></option>
            </select>
            <div class="alert alert-danger " role="alert"
                 th:if="${#fields.hasErrors('difficulty')}"
                 th:errors="*{difficulty}">
                A simple danger alert—check it out!
            </div>
        </div>

        <div class="mb-3">
            <label for="startDate" class="form-label">StartDate</label>
            <input type="date" class="form-control" id="startDate" th:value="${achievementCreate.startDate}"
                   th:field="${achievementCreate.startDate}"/>
            <div class="alert alert-danger " role="alert"
                 th:if="${#fields.hasErrors('startDate')}"
                 th:errors="*{startDate}">
                A simple danger alert—check it out!
            </div>
        </div>

        <div class="mb-3">
            <label for="endDate" class="form-label">EndDate</label>
            <input type="date" class="form-control" id="endDate" th:value="${achievementCreate.endDate}"
                   th:field="${achievementCreate.endDate}"/>
            <div class="alert alert-danger " role="alert"
                 th:if="${#fields.hasErrors('endDate')}"
                 th:errors="*{endDate}">
                A simple danger alert—check it out!
            </div>
        </div>

        <div class="mb-3">
            <label for="dayTook" class="form-label">DayTook</label>
            <input type="number" class="form-control" id="dayTook"
                   th:field="${achievementCreate.dayTook}"
                   disabled/>
        </div>

        <div hidden="hidden" class="mb-3">
            <label for="id" class="form-label">hiddenId</label>
            <input type="number" class="form-control" id="id"
                   th:field="${achievementCreate.id}"/>
        </div>


        <div class="container">
            <div class="row">
                <div class="col col align-self-start">
                    <button type="submit" class="btn btn-primary w-50">Save</button>
                </div>
                <div class="col align-self-end text-end">
                    <a type="submit" th:href="@{/achievement/delete/{id}(id=${achievementCreate.id})}"
                       class="btn btn-primary w-50">Delete</a>
                </div>

            </div>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>