<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=, initial-scale=1.0"/>
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"/>
</head>

<body class="bg-dark text-white">
<ul class="nav nav-tabs bg-dark justify-content-between">
    <div class="">
        <li class="d-inline-block nav-item">
            <a class="nav-link text-white " th:href="@{/}">Home</a>
        </li>
        <li class="d-inline-block nav-item">
            <a class="nav-link text-dark active " th:href="@{/goal}">Goals</a>
        </li>
        <li class="d-inline-block nav-item">
            <a class="nav-link text-white" th:href="@{/routine}">Routines</a>
        </li>
        <li class="d-inline-block nav-item">
            <a class="nav-link text-white" th:href="@{/achievement}">Achievements</a>
        </li>
        <li class="d-inline-block nav-item">
            <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button"
               aria-expanded="false">Sort By</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/goal/sortByEndDate}">EndDate</a></li>
                <li><a class="dropdown-item" th:href="@{/goal/sortByImportance}">Importance</a></li>
                <li><a class="dropdown-item" th:href="@{/goal/sortByDifficulty}">Difficulty</a></li>
            </ul>
        </li>
    </div>
    <div class="">
        <form th:action="@{/logout}"
              method="post">
            <button type="submit" class="nav-link text-white">Logout</button>
        </form>
    </div>
</ul>
<div class="container">
    <div class="container text-center p-5">
        <h1>Active goals to chase </h1>
    </div>

    <div class="row">
        <div th:each="g : ${allGoals}"
             class="col-lg-3 p-1 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                 th:src="${g.pictureRes}">
            <h2 th:text="'Name: ' + ${g.name}"></h2>
            <p th:text="'EndDate: ' + ${#temporals.format(g.endDate, 'dd-MM-yyyy')}"></p>
            <p th:text="'Category: ' + ${g.category}"></p>
            <p th:text="'Importance: ' + ${g.importance}"></p>
            <p th:text="'Difficulty: ' + ${g.difficulty}"></p>
            <p><a class="btn btn-secondary" th:href="@{/goal/detail/{id}(id=*{g.id})}">View details »</a></p>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>