<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
</head>

<body class="bg-dark text-white">
    <nav class="mb-5 navbar navbar-expand-lg navbar-white bg-white" aria-label="Tenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
                aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-between" id="navbarsExample08">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Routines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Goals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Achievements</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown"
                            aria-expanded="false">More About</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown08">
                            <li><a class="dropdown-item" href="#">Motivation</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav> 
    <div class="container text-center p-2">
        <h1>Edit Goal</h1>
    </div>
    <div class="container w-50 p-5 ">
        <form>
            <div >
                <label for="naemGoal" class="form-label">Name</label>
                <input type="text" class="form-control" id="naemGoal" />
                <div class="alert alert-danger " role="alert">
                    A simple danger alert—check it out!
                  </div>
            </div>
            
            <div class="mb-3">
                <label for="descriptionHowToDoIt" class="form-label">How you gonna do it</label>
                <input type="text" class="form-control" id="descriptionHowToDoIt" />
                <div class="alert alert-danger " role="alert">
                    A simple danger alert—check it out!
                  </div>
            </div>

            <div class="mb-3">
                <label for="descriptionWhy" class="form-label">Why you wanna do it</label>
                <input type="text" class="form-control" id="descriptionWhy" />
                <div class="alert alert-danger " role="alert">
                    A simple danger alert—check it out!
                  </div>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <input type="text" class="form-control" id="category"  />
                <div class="alert alert-danger " role="alert">
                    A simple danger alert—check it out!
                  </div>
            </div>

            <div class="mb-3">
                <select class="form-select" >
                    <option selected>Importance level</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                <div class="alert alert-danger " role="alert">
                    A simple danger alert—check it out!
                  </div>
            </div>

            <div class="mb-3">
                <select class="form-select" >
                    <option selected>Difficulty</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                <div class="alert alert-danger " role="alert">
                    A simple danger alert—check it out!
                  </div>
            </div>

            <div class="mb-3">
                <select class="form-select" >
                    <option selected>Routines</option>
                    <option value="High">1</option>
                    <option value="Medium">2</option>
                    <option value="Low">3</option>
                  </select>
                <div class="alert alert-danger " role="alert">
                    A simple danger alert—check it out!
                  </div>
            </div>

            <div class="mb-3">
                <label for="startDate" class="form-label">Start Date</label>
                <input type="date" class="form-control" id="startDate"  />
                <div class="alert alert-danger " role="alert">
                    A simple danger alert—check it out!
                  </div>
            </div>

            <div class="mb-3">
                <label for="endDate" class="form-label">End Date</label>
                <input type="date" class="form-control" id="endDate" />
                <div class="alert alert-danger " role="alert">
                    A simple danger alert—check it out!
                  </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col col align-self-start">
                        <button type="submit" class="btn btn-primary w-50">Edit</button>
                    </div>
                    <div class="col align-self-end text-end">
                        <button type="submit" class="btn btn-primary w-50">Finish Goal</button>
                    </div>
                    
                </div>
            </div>
           
        </form>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>