<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
</head>

<body class="bg-dark text-white">
<ul class="nav nav-tabs bg-dark justify-content-between">
    <div class="">
        <li class="d-inline-block nav-item">
            <a class="nav-link text-white " th:href="@{/}">Home</a>
        </li>
        <li class="d-inline-block nav-item">
            <a class="nav-link text-white " th:href="@{/goalEntity}">Goals</a>
        </li>
        <li class="d-inline-block nav-item">
            <a class="nav-link text-white" th:href="@{/routineEntity}">Routines</a>
        </li>
        <li class="d-inline-block nav-item">
            <a class="nav-link text-white" th:href="@{/achievementEntity}">Achievements</a>
        </li>
    </div>
    <div class="">
        <a class="nav-link text-white" th:href="@{/logout}">Logout</a>
    </div>
</ul>
    <div class="container text-center p-5">
        <h1>Create your Goal</h1>
    </div>
    <div class="container text-center">
        <img src="/pic/goalEntity.png" class="rounded w-25" alt="...">
    </div>
    <div class="container w-50 p-5 ">
        <form
                th:action="@{/goalEntity/create}"
                th:object="${goalCreate}"
                th:method = "post"
        >
            <div >
                <label for="naemGoal" class="form-label">Name</label>
                <input type="text" class="form-control" id="naemGoal" th:field = "${goalCreate.name}"/>
                <div class="alert alert-danger " role="alert"
                     th:if = "${#fields.hasErrors('name')}"
                     th:errors = "*{name}">
                    A simple danger alert—check it out!
                </div>
                <div id="nameHelper" class="form-text text-white"
                     th:if = "${!#fields.hasErrors('name')}">
                    You must write the name !
                </div>
            </div>
            
            <div class="mb-3">
                <label for="descriptionHowToDoIt" class="form-label">How you gonna do it</label>
                <input type="text" class="form-control" id="descriptionHowToDoIt" th:field = "${goalCreate.descriptionHowItWillBeDone}"/>
            </div>

            <div class="mb-3">
                <label for="descriptionWhy" class="form-label">Why you wanna do it</label>
                <input type="text" class="form-control" id="descriptionWhy" th:field = "${goalCreate.bonusDescription}"/>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <input type="text" class="form-control" id="category"  th:field = "${goalCreate.category}"/>
                <div class="alert alert-danger " role="alert"
                     th:if = "${#fields.hasErrors('category')}"
                     th:errors = "*{category}">
                    A simple danger alert—check it out!
                </div>
                <div id="categoryHelper" class="form-text text-white"
                     th:if = "${!#fields.hasErrors('category')}">
                    You must write category !
                </div>
            </div>

            <div class="mb-3">
                <label for="importance">Importance</label>
                <select th:field="${goalCreate.importance}"
                        id="importance" class="form-select">
                    <option value="" selected>Select importance</option>
                    <option th:each = "importance : ${T(com.example.achievementboard.constants.enums.Importance).values()}"
                            th:text="${importance}" th:value="${importance}"></option>
                </select>
                <div class="alert alert-danger " role="alert"
                     th:if = "${#fields.hasErrors('importance')}"
                     th:errors = "*{importance}">
                    A simple danger alert—check it out!
                </div>
                <div id="ImportanceHelper" class="form-text text-white"
                     th:if = "${!#fields.hasErrors('importance')}">
                    You must choose importance !
                </div>
            </div>

            <div class="mb-3">
                <label for="diff">Difficulty</label>
                <select th:field="${goalCreate.difficulty}"
                        id="diff" class="form-select">
                    <option value="" selected>Select difficulty</option>
                    <option th:each = "diff : ${T(com.example.achievementboard.constants.enums.Difficulty).values()}"
                            th:text="${diff}" th:value="${diff}">Select level</option>
                </select>
                <div class="alert alert-danger " role="alert"
                     th:if = "${#fields.hasErrors('difficulty')}"
                     th:errors = "*{difficulty}">
                    A simple danger alert—check it out!
                </div>
                <div id="difficultyHelper" class="form-text text-white"
                     th:if = "${!#fields.hasErrors('difficulty')}">
                    You must choose difficulty !
                </div>
            </div>

            <div class="mb-3">
                <label for="route">Select Route</label>
                <select th:field = "${goalCreate.routineId}"
                        id="route" class="form-select">
                    <option value="0" selected>Select Route</option>
                    <option th:each = "routineEntity : ${allRoutines}"
                            th:value="${routineEntity.id}"
                            th:text = "${routineEntity.name}"></option>
                </select>
                <div id="routeHelper" class="form-text text-white">
                    It`s not required !
                </div>
            </div>

            <div class="mb-3">
                <label for="startDate" class="form-label">Start Date</label>
                <input type="date" class="form-control" id="startDate" th:field = "${goalCreate.startDate}" />
                <div class="alert alert-danger " role="alert"
                     th:if = "${#fields.hasErrors('startDate')}"
                     th:errors = "*{startDate}">
                    A simple danger alert—check it out!
                </div>
                <div id="startDateHelper" class="form-text text-white"
                     th:if = "${!#fields.hasErrors('startDate')}">
                    You must fill the date !
                </div>
            </div>

            <div class="mb-3">
                <label for="endDate" class="form-label">End Date</label>
                <input type="date" class="form-control" id="endDate" th:field = "${goalCreate.endDate}"/>
                <div class="alert alert-danger " role="alert"
                     th:if = "${#fields.hasErrors('endDate')}"
                     th:errors = "*{endDate}">
                    A simple danger alert—check it out!
                </div>
                <div id="endDateHelper" class="form-text text-white"
                     th:if = "${!#fields.hasErrors('endDate')}">
                    You must fill the date !
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Add Goal</button>
        </form>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>