<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
</head>

<body class="bg-dark text-white" style="background-color: black;">
    <nav class="mb-5 navbar navbar-expand-lg navbar-white bg-white" aria-label="Tenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
                aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-between" id="navbarsExample08">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Routines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Goals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Achievements</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown"
                            aria-expanded="false">More About</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown08">
                            <li><a class="dropdown-item" href="#">Motivation</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-md p-3 mb-4 rounded-3 w-75 border d-flex">
        <div class="container-md py-5">
            <h1 class="display-5 fw-bold">~Robert F. Kennedy</h1>
            <p class="col-md-8 fs-4 ">“Only those who dare to fail greatly can ever achieve greatly.”</p>
            <button class="btn btn-outline-light" type="button">Add Achievement</button>
        </div>
        <div class="container-fluid w-25 ">
            <img src="/pic/achievement-icon-png-22.jpg"
            class="rounded img-fluid bg-transparent" alt="...">
        </div>
    
    </div>
    <div class="row align-items-md-stretch m-5">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3 border">
                <h2>~Aristotle</h2>
                <p>“We Are What We Repeatedly Do” </p>
                <p>Our habits define us, and if we want to be successful, we need to develop positive habits and break negative ones.</p>
                <button class="btn btn-outline-light" type="button">Add Routine</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3 border">
                <h2>~David Goggins</h2>
                <p>"It takes great strength to be vulnerable enough to put your ass on the line, in public, and work toward a dream that feels like it s slipping away."</p>
                <button class="btn btn-outline-light" type="button">Add Goal</button>
            </div>
        </div>
    </div>
    <div class="container-md p-3 mb-4 rounded-3 w-75 border d-flex">
        <div class="container-md py-5">
            <h1 class="display-5 fw-bold">~Plato</h1>
            <p class="col-md-8 fs-4 ">“Music gives a soul to the universe, wings to the mind, flight to the imagination, and life to everything.”</p>
            <button class="btn btn-outline-light" type="button">Add Music</button>
        </div>
        <div class="container-fluid w-25 ">
            <img src="/pic/music.png"
            class="rounded img-fluid bg-transparent" alt="...">
        </div>
    
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>