<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
</head>

<body class="bg-dark text-white">
<nav th:replace ="~{fragments/headerLoginRester.html}"></nav>
    <div class="container text-center p-5">
        <h1>Achievement board</h1>
    </div>
    <div class="container w-25  p-5">
        <form
                th:action="@{/register}"
                th:object="${registerUser}"
                th:method = "post"
        >
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" th:field = "${registerUser.email}"/>
                <div class="alert alert-danger " role="alert"
                     th:if = "${#fields.hasErrors('email')}"
                     th:errors = "*{email}">
                    A simple danger alert—check it out!
                  </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="exampleInputUsername" th:field = "${registerUser.username}"/>
                <div class="alert alert-danger " role="alert"
                     th:if = "${#fields.hasErrors('username')}"
                     th:errors = "*{username}">
                    A simple danger alert—check it out!
                  </div>
                <div id="usernameHelper" class="form-text text-white"
                     th:if = "${!#fields.hasErrors('username')}">
                    Your username must be at least 4 chars long !
                </div>
            </div>

            <div class="mb-3">
                <label for="birthDate" class="form-label">DateBirth</label>
                <input type="date" class="form-control" id="birthDate" th:field = "${registerUser.birthDate}"/>
                <div class="alert alert-danger " role="alert"
                     th:if = "${#fields.hasErrors('birthDate')}"
                     th:errors = "*{birthDate}">
                    A simple danger alert—check it out!
                  </div>
                <div id="ageHelper" class="form-text text-white"
                     th:if = "${!#fields.hasErrors('birthDate')}">
                    You must be at least 18 years old !
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" th:field = "${registerUser.password}" />
                <div class="alert alert-danger " role="alert"
                     th:if = "${#fields.hasErrors('password')}"
                     th:errors = "*{password}">
                    A simple danger alert—check it out!
                  </div>
                <div id="passwordHelper" class="form-text text-white"
                     th:if = "${!#fields.hasErrors('password')}">
                    Your password must be at least 5 chars long !
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>